.footer {
  background: #ea7527;
  position: relative;
  min-height: 650px;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.5;
  font-family: PhantomLight;
  font-weight: bolder;
  strong {
    font-family: PhantomBlack;
  }
}

#bottom-footer {
  background: #111822;
  color: #fff;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

#top-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  flex-direction: column;

  #logo-container {
    height: 110px;
    display: flex;
    border: 1px solid green;
    width: 100%;
  }

  .row {
    display: flex;
    justify-content: center;

    .one,
    .two,
    .three,
    .four {
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
    }

    .four {
      display: flex;
      align-self: flex-start;
    }
  }
}

.soc-footer {
  padding: 15px 0;
  margin-top: 20px;
  display: flex;
}
#footer-teksts {
  font-size: 16px;
  font-family: PhantomBlack;
  margin: 0;
}
.logo-footer {
  height: 100px;
  width: auto;
  z-index: 99;
}
.fa {
  font-weight: 400;
  font-size: 36px !important;
  color: black !important;
  margin-right: 20px;
}
