#klasiskie-container {
  width: 100%;
  padding: 75px 0 75px 0;
  margin-right: auto;
  margin-left: auto;

  .element-container {
    display: flex;
  }

  #photoGrid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }

  .post-item {
    list-style: none;
    margin-bottom: 60px;
    padding-bottom: 50px;
    padding: 15px;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
    flex: 0 0 calc(33.333333% - 20px);
    max-width: calc(33.333333% - 20px);
    box-sizing: border-box;
    text-decoration: none;
    transition: border 0.2s ease;
    border-radius: 10px 10px 10px 0;
    border: 1px solid transparent;
    position: relative;

    &:hover {
      border: 1px solid #ea7527;

      .choose-span {
        background: #f4c00c;
        color: white;
      }
    }

    .text-container {
      display: flex;
      flex-direction: column-reverse;
      padding-top: 1rem;
      padding-bottom: 2rem;

      .post-title {
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
        color: #111822;
        text-transform: uppercase;
      }

      .post-categories {
        color: black;
        text-align: center;
        font-size: 16px;
        font-family: PhantomBlack;
        font-weight: 100;
      }
    }

    .choose-span {
      background: #f4c00c;
      color: #ea7527;
      border: 2px solid #f4c00c;
      border-radius: 10px 10px 10px 0;
      background-color: transparent;
      display: block;
      position: absolute;
      bottom: -20px;
      padding: 10px 45px;
      font-size: 20px;
      text-transform: uppercase;
      font-family: PhantomBlack;
      // transition: background 0.2s ease, color 0.2s ease;

      &:hover {
        background: #f4c00c;
        color: white;
      }
    }

    .post-image {
      max-width: 200px;
      height: auto;
      text-align: center;
    }
  }

  .customize-support {
    body {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }
  }
}
